.card-login{
    max-width: 40rem;
    width: auto;
    max-height: 25rem;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    .container{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .container-modal{
        justify-content: center;
    }
    
