<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin-top ion-text-center ion-align-items-center">
  <br><h1>Página no encontrada</h1><br>
  <ion-img src="https://lh6.googleusercontent.com/Bu-pRqU_tWZV7O3rJ5nV1P6NjqFnnAs8kVLC5VGz_Kf7ws0nDUXoGTc7pP87tyUCfu8VyXi0YviIm7CxAISDr2lJSwWwXQxxz98qxVfMcKTJfLPqbcfhn-QEeOowjrlwX1LYDFJN"></ion-img><br>
  
  <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" class="ion-margin-top ion-text-center">
    <ion-icon name="login" slot="end"></ion-icon> Volver a Login
  </ion-button></div>
</ion-content>
