.card-login{
max-width: 40rem;
width: auto;
max-height: 50rem;
height: auto;
padding-right: 1.5rem;
padding-left: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.boton-login{
    margin-top: 3rem;
}
.boton-inicio{
    margin-right: 1rem;
}
.boton-continuar{
    display: flex;
    justify-content: center;
}
.container-modal{
    justify-content: center;
}
.botones{
    margin-top: 2rem;
    
}
#registrarse{
    height: 3rem;
    margin-right: 5rem;
    margin-left: 1rem;
}
#recovery{
    height: 3rem;
   
}