.card-registro {
    max-width: 40rem;
    width: auto;
    max-height: 60rem;
    height: auto;
   padding-bottom: 1rem;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  
  .boton-registro {
    margin-top: 2rem;
  }
  
  .boton-inicio {
    margin-right: 1rem;
  }
  